@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    #AP-Claims, #Lecturer-Claims, #Lecturer-Add {
        display: none;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
